<script>

</script>
<div class="container-contacts">
    <div class="container-contacts2">
            <div class="contakt_cont1">
                <p class="textcontentbig1">
                    Производственное унитарное предприятие "Сампсон".<br />
                    Витебск, ул. Гагарина 11Г. <br />
                    р/c 3012201648012   <br />
                    ОАО «Приорбанк» ЦБУ200  <br />
                    МФО 153001749, УНП 390332916    <br />
                </p>
            </div>
            <div class="button btn-photo"></div>

            <div class="contakt_cont2">
                <p class="textcontentbig1">
                    Тел.: +375 (212) 60 29 16       <br />
                    Факс: +375 (212) 60 29 19   <br />
                </p>
            </div>
            <div class="button btn-settings"></div>

            <div class="contakt_cont3">
                <p class="textcontentbig1">
                    Email: comm@sampson.by  <br />
                    Skype: sampson-o.kadrov <br />
                    <br />
                </p>
            </div>
            <div class="button btn-tag"></div>

            <div class="contakt_cont4">
                <p class="textcontentbig1">
                    Режим работы предприятия: 8-00 до 17-00 <br />
                    Обед: 12-30 до 13-00. <br />
                    Выходной: Суббота, Воскресенье.
                    <br />
                </p>
            </div>
            <div class="button btn_time"></div>

            <div class="Contakt_file">
                Контактные данные:
            </div>

            <div class="data_directory">
                <div class="contakt_cont5">
                    <p class="textcontentbig1">
                        <span class="text-big_1"> Директор: </span>  <br /> 
                        Круглик Анжела Петровна  <br />
                        Тел. +375 29 128-80-81   <br />
                        Email: comm@sampson.by  <br />
                        <br />
                    </p>
                </div>
                <div class="button btn-dir"></div>

                <div class="contakt_cont6">
                    <p class="textcontentbig1">
                        <span class="text-big_1"> Коммерческий директор: </span>  <br />
                        Шутикова Наталья Петровна <br />
                        Тел. +375 29 152-89-09  <br />
                        <br />
                    </p>
                </div>
                <div class="button btn-com"></div>

                <div class="contakt_cont7">
                    <p class="textcontentbig1">
                        <span class="text-big_1"> Заместитель директора. Отдел кадров: </span>  <br />
                        Соколова Ирина Васильевна <br />
                        Тел. +375 29 170-37-77  <br />
                        <br />
                    </p>
                </div>
                <div class="button btn-work"></div>
            </div>

            <div class="data-contak">
                <iframe onload="$('#contact_gif').remove();" src="https://www.google.com/maps/d/embed?mid=zbsh4MPEtWKY.kOl6L_FlWcGs" width=800 height="500" margin:auto></iframe>
                <img id="contact_gif" src="/Files/Images/Gif/gif2.gif" />
            </div>
        
        </div>
</div>
