<div class="ggghhh">
    <div class="textcontentbig">
        @*<img src="~/Files/Images/rekonstruction.png" />
            </div>
            <p class="textcontent">
                Уважаемые господа!
                производственное унитарное предприятие "Сампсон" приглашает вас к сотрудничеству. принимаем заказы на условиях давальческого сырьяю собственное производство швейных изделий для женщин, мужчин и детей.
                уп "Сампсон" специализируется на производстве полного ассортимента верхней одежды ( куртки, плащи) и одежды плательно-костюмного ряда для мужчин и женщин, джинсовой одежды, одежды детского ассортимента, спецодежды.
                производим изделия высокого качества, мобильно перестраиваем производство с одного ассортимента на другой. партии изделий отшиваем в количестве от 300 штук и более единиц.
                предприятие оснащено новейшим оборудованием ведущих мировых производителей
                - в раскройном цеху - раскройные столы и настилочный комплекс фирмы "Bullmer" , дублирующая машина фирмы "OSHIMA",
                - вышивальная машина производства японской фирмы "Tajima" ,
                - в швейных цехах - универсальные и специализированные машины фирмы "Sun Star" "Jamato" "Garudan" "Kansai" "YUKI" "Rees",
                -в цеху влажно-тепловой обработки оборудование фирм "Anghinetti" и "Veit" , пароманекены фирмы "Anghinetti",
                -в конструкторском отделе разрабатываются лекала в системе сапр lectra и печатаются на плоттере раскладки, прошиваются первичные образцы.
                предлагаем специальную (энзимную) стирку для готовых швейных изделей по немецкой технологии и по принципу немецкой педантичности, подходя индивидуально к каждому заказу. мы придаем мягкость, эффекты потертости и носки, льняным, хлопчатобумажным и джинсовым изделиям. стирка осуществеятся на профессиональным оборудовании фирм "ANGHINETTI" и "BROADBENT" с использованием исключительно современных высококачественных порошков, отбеливающих, кондиционирующих и ароматических средств фирм CHT R.Beitlich, Dy Star, Novozymes. режимы и составы для стирки готовых изделий согласуется заказчиками с нашими технологами для достижения желаемого эффекта ( эффект потертости, белесости и пр.)
                мы предлогаем следующие услуги с гарантией качества и точных сроков выполнения
                - изготовление швейных изделий из сырья заказчика
                - изготовление лекал и образцов моделей
                - раскрой и вышивка любой сложности
                - специальную (энзимную) стирку готовых швейных изделий, придание мягкости эффекта потертости и носки.
                главное, что выгодно отличает наше предложение - это всегда высокое качество, надежность, высокопрофессиональные специалисты и при этом доступные цены.
            </p>*@
        <p class="zagolovok">Уважаемые господа!</p>
        <div class="text-big">
            Производственное унитарное предприятие "Сампсон" приглашает вас к сотрудничеству. <br>
            Принимаем заказы на условиях давальческого сырья. Собственное производство швейных изделий для женщин, мужчин и детей.
        </div>
        <div class="text-prosto">
            УП "Сампсон"
            специализируется на производстве полного ассортимента верхней одежды ( куртки, плащи) и одежды плательно-костюмного ряда для мужчин и женщин, джинсовой одежды, одежды детского ассортимента, спецодежды.
        </div>
        <div class="text-podcherk">Производим изделия высокого качества</div> Мобильно перестраиваем производство с одного ассортимента на другой. Партии изделий отшиваем в количестве от 300 штук и более единиц.<br />
        <div class="text-podcherk">Предприятие оснащено новейшим оборудованием ведущих мировых производителей:</div>
        <ul>
            <li> в раскройном цеху - раскройные столы и настилочный комплекс фирмы "Bullmer" , дублирующая машина фирмы "OSHIMA",</li>
            <li>   вышивальная машина производства японской фирмы "Tajima" ,</li>
            <li>   в швейных цехах - универсальные и специализированные машины фирмы "Sun Star" "Jamato" "Garudan" "Kansai" "YUKI" "Rees",</li>
            <li>  в цеху влажно-тепловой обработки оборудование фирм "Anghinetti" и "Veit" , пароманекены фирмы "Anghinetti",</li>
            <li>  в конструкторском отделе разрабатываются лекала в системе САПР Lectra и печатаются на плоттере раскладки, прошиваются первичные образцы.</li>
        </ul>
        <div class="text-podcherk">Предлагаем специальную (энзимную) стирку для готовых швейных изделей:  </div>
        По немецкой технологии и по принципу немецкой педантичности, подходя индивидуально к каждому заказу. мы придаем <span class="roty">мягкость, эффекты потертости и носки, льняным, хлопчатобумажным и джинсовым изделиям.</span> <br />
        <br />
        <span class="text-podcherk"> Мы предлагаем следующие услуги с гарантией качества и точных сроков выполнения: </span>
        <ul class="ulr_big">
            <li>  изготовление швейных изделий из сырья заказчика</li>
            <li>  изготовление лекал и образцов моделей</li>
            <li>  раскрой и вышивка любой сложности</li>
            <li>  специальную (энзимную) стирку готовых швейных изделий, придание мягкости эффекта потертости и носки.</li>
        </ul>
        <div class="text-big">Главное, что выгодно отличает наше предложение - это всегда высокое качество, надежность, высокопрофессиональные специалисты и при этом доступные цены.</div><br />
        <div class="zagolovok_dic"> С Уважением директор: Круглик Анжела Петровна !</div>
    </div>
</div>