html {
    height:100%;
}
body {
    
    font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    font-size:15px;
    height:100%;
    background-color:#fafafa;
    font-size:13px;
}

.header {
    border-bottom:1px solid #3dc200;
  background-color:#ffffff;
    width:100%;
    position:fixed;
    top:0;
    height:60px;
    z-index:1;
}


.header_content {
   
    
   width: 80%;
   height:90px;
   min-width:1200px;
   max-width:1300px;
   margin: 0 auto;/*центрирует container в совокупности с шириной экрана*/
}
.container {
    width:80%;
   /*border:1px solid #b8c9e9;*/ 
    height:100%;
   position:relative;
   top:50px;
    height:600px;
    min-width:1200px;
    max-width:1300px;
    margin: 0 auto;/*центрирует container в совокупности с шириной экрана*/
}

 .header_bottom {
    height:40px;
    border:1px solid #3dc200;
    background-color:#fdffe7;
}

.sidebar1 {
    width:22%;
    float:left;
    padding-bottom:10px;
   
}
.sidebar1_content {
    height:300px;
    border:1px  solid #c8c8c8;
    margin-top:15px;
    background-color:#ffffff;
}


.content {
    margin-bottom:65px;
    width:76.5%;
   word-break:break-all; /*Переносит текст на следуюющую строку если он упирается в край блока*/
    float:left;
    margin-left:15px;
    
}
/*---------------------------------------------------*/


fieldset {
    border:1px solid #bec8f2;
    width:500px;
    margin: 0 auto;/*центрирует container в совокупности с шириной экрана*/
}
    fieldset legend {
        text-align:center;
        color:#2d3acc;
    }

.declarations {
    
    width:100%;
    border-spacing: 0 13px;
}

tr {
    
    
}
td {
    border:1px   dashed #69719d ;
    height:120px;
   background-color:#ffffff;
}


/*Контейнеры для объявлений на главной странице*/

.container_forDeclaration {
    height:100%;
    width:100%;
    
    
}

.photo {
border:1px  solid #aaaaaa;
height:98%;
width:18%;
background-color: #f3f3f3;
 position: relative;
}
img {
   height:100%;
   width:100%;
   position:absolute;
}
.container_title {
    
    display:inline-block;
    height:20px;
    width:88%;
    margin-left:55px;
    background-color:#f8f8f8;
    bottom:217px;
     left:27%;
      
}

.main_declaration_content {
    position:relative;
    left:15.3%;
    bottom:-40px;
   height:100%;
   width:70%;
   bottom:120px;
   border-right:1px   dashed #69719d;
}
